//primary colors
$text-main: #13182c;
$text-light:  #5c667e;
$text-highlight: #fdfef2;
//secondary colors
$slate: #d8d8d8;
$cloud: #bdc5c5;
//background colors
$graphite: #232940;
$light-grey: #f7f8f9;
//supporting colors
$green: #158463;
$red: #c94515;


$main-accent: rgb(243, 243, 74);


$background-color: #fdfef2;
