@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.home{

    background-color: $background-color;    

    &__intro{
        font-size: 0.7rem;
        padding: 0.5rem;
        text-align: center;
        color: black;
        }

    &__quote-container{
        color: #453F3C;
        display: flex;
        padding: 1rem 0.5rem;
        justify-content: space-around;
        flex-direction: row;
        height: 50vh;
    }

    &__quote{
        font-size: 1rem;
        color: #453F3C;
        text-align: center;
    }


    &__quote-circle{
        border-radius: 100%;
        // background-color: #453F40;
        width: 12rem;
        height: 12rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        border: 1px  #453F3C solid;
        color: #453F3C;
    }


    &__hero-content-exam{
        display: flex;
        align-items: center;
        padding-top: 5.5rem;
        &-button{
            @include button-circle;
                border-radius: 5rem;
                font-weight: 600;
        }
    }
    &__hero{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem .5rem;
        justify-content: space-between;
        

        &-title{
            text-align: center;
            padding: 1rem 0.5rem;
        }

        &-media{
            width: 50%;
            &-img{
                width: 100%;
                height: 100%;
            }
        }

        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            &-text{
                font-size: .8rem;
                padding: 0.5rem;
                text-align: center;
            } 
        }
    }


    &__outro{
        padding: 1rem;
        text-align: center;
        color: #FFFFFF;
        font-weight: bolder;
    }


    &__disc-info{
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title{
            padding: 1rem 0.5rem;
            text-align: center;
            background-color: #F2ECE3;
            width: 100%;
        }
        &-text{
            padding: 1rem;

            &-ul{
                text-align: center;
                background-color: #F2ECE3;
                border-radius: 3rem;
                width: 55%;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-decoration: none;
            }
        }
    }
}

.test{
    padding: 1.5rem;
}