@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.home{

    // background-color: $background-color;
    
    &__intro{
        font-size: 0.7rem;
        padding: 0.5rem;
        text-align: center;
        color: black;
        // background-color: #F2ECE3;
        // line-height: 1.25rem;

    }
    &__hero{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem .5rem;
        justify-content: space-between;

        &-title{
            text-align: center;
            padding: 1rem 0.5rem;
        }

        &-media{
            width: 50%;
            &-img{
                width: 100%;
                height: 100%;
            }
        }

        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            &-text{
                font-size: .8rem;
                padding: 0.5rem;
                text-align: center;
            } 
            &-exam{
                &-button{
                        @include button;
                        width: 5rem;
                }
            }
        }
    }


    &__outro{
        padding: 1rem;
        text-align: center;
    }


    &__disc-info{
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title{
            padding: 1rem 0.5rem;
            text-align: center;
            background-color: #F2ECE3;
            width: 100%;
        }
        &-text{
            padding: 1rem;

            &-ul{
                text-align: center;
                background-color: #F2ECE3;
                border-radius: 3rem;
                width: 55%;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-decoration: none;
            }
        }
    
}


}

// <div  className='hero__disc-info'>
// <h3 className='hero__disc-info-title'> What is Disc?</h3>
// <p className='hero__disc-info-text'>A DiSC assessment is a behavior-assessment tool that shows scores in four personality profiles:</p> 
// <ul className='hero__disc-info-text-ul'>
//     <li>Dominance </li>
//     <li>Influence</li>
//     <li>Steadiness</li>
//     <li>Conscientiousness</li>
// </ul>
// <p className='hero__disc-info-text'> T
