@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    list-style: none;
}

.navbar{
    // background-color: #F2ECE3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;

    &__logo{
    height: 3rem;
    width: 3rem;
    border-radius: 4rem;
    border: solid 1px blue($color: #000000);
    @include tablet{
        height: 3.2rem;
        width: 3.2rem;
    }
    @include desktop{
        height: 5.8rem;
        width: 5.8rem;
    }
    }

    &__login{
        @include labels-links-buttons;
        color: black;
        padding-right: .5rem;
    }
    
}
