@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}


.footer{
    // background-color: white;   
    @include labels-links-buttons;
    padding: .5rem;
    border-top: 0.0625rem solid $cloud;
    color: white;
    background-image: url('../../assets/media/and-machines-vqTWfa4DjEk-unsplash.jpg');
    background-size: cover;
    

    

    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.5rem;
        color: white;
        @include tablet{
            font-size: .9rem;
        } @include desktop{
            font-size: 1.2rem;
        }
    }
}

.link{
    color: white;
    font-weight: bolder;
}