@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}


.user{

    &__welcome{
        text-align: center;
        padding: .5rem;
    }

    &__sub{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0rem;
        width: 100%;
    }

    &__exams{
        padding: .5rem;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0.5rem;

        &-title{
            text-align: center;
            font-size: 1rem;
        }

        &-tests{
            background-color: #F2ECE3;
            border-radius: 0.5rem;
            padding: 5%;
            margin: 1rem 0rem;
            align-items: center;

            &-link{
                text-align: center;
            }
        }
    }

    &__results{
        padding: .5rem;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0.5rem;
            
        &-title{
            text-align: center;
            font-size: 1rem;
        }

        &-result{
            background-color: #F2ECE3;
            border-radius: 0.5rem;
            padding: 5%;
            margin: 1rem 0rem;
            align-items: center;
        }
        &-link{
            text-align: center;

        }
    }
}


.disc-info{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;

    &-title{
        padding: 1rem 0.5rem;
        text-align: center;
        background-color: #F2ECE3;
        width: 100%;
    }
    &-text{
        padding: 1.5rem 0.5rem;
        text-align: center;
        font-size: .8rem;

        &-ul{
            text-align: center;
            background-color: #F2ECE3;
            border-radius: 3rem;
            width: 55%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-decoration: none;
        }
    }
}
